<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Async name="Async">
            <AppenderRef ref="Console"/>
        </Async>
        <Console name="Console" target="SYSTEM_OUT">
            <RegexFilter regex=".*password.*" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout pattern="[panchang] [%-5level] %d [%t] [%c{1.}] [%X{flowId}] - %m%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Please do not add any specific loggers here. If you would like to adjust a loglevel, do it in the application.yaml
            e.g.: logging: level: org.springframework: DEBUG For more information see: https://docs.spring.io/spring-boot/docs/current/reference/html/howto-logging.html -->

        <!-- keep this root phoenix logger so we can use jolokia -->
        <logger name="ai.siddha.panchang"/>

        <Root level="warn">
            <AppenderRef ref="Async"/>
        </Root>
    </Loggers>
</Configuration>